.buttonDelete {
  border: 1px solid black;
  border-radius: 4px;
  &:hover {
    background-color: #33ccff;
    cursor: pointer;
  }
}
.item {
  display: flex;
  grid: 18px;
  /* gap: 18px; */
  align-items: center;
  justify-content: space-between;
}
